# .idea
/.idea/

# target
/target/
# perf env
/docs/perf/k6/.env
/docs/perf/baseline_results/

# backend
/backend/.idea/
/backend/target/
/backend/.vscode/
/backend/.classpath
/backend/.project
/backend/.settings/

# frontend
/frontend/node_modules/
/frontend/.env
/frontend/dist/
/frontend/.vite/
/frontend/.cache/
/backend/.env.local
/.env
/.env.staging
/.env.production
