# =========================
# Database
# =========================
DB_URL=
DB_USERNAME=
DB_PASSWORD=
# =========================
# Security
# =========================
JWT_SECRET_KEY=
# =========================
# Redis
# =========================
REDIS_HOST=
REDIS_PORT=
# =========================
# RabbitMQ
# =========================
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
# =========================
# Elasticsearch
# =========================
ELASTICSEARCH_URIS=
# =========================
# MoMo
# =========================
MOMO_PARTNER_CODE=
MOMO_ACCESS_KEY=
MOMO_SECRET_KEY=
MOMO_ENDPOINT=
MOMO_REDIRECT_URL=
MOMO_IPN_URL=
# =========================
# Mail SMTP
# =========================
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_LOG_LEVEL=
# =========================
# Chatbot Provider
# =========================
CHATBOT_BASE_URL=
CHATBOT_API_KEY=
CHATBOT_MODEL=
# =========================
# Guest Checkout
# =========================
GUEST_CHECKOUT_USERNAME=
GUEST_CHECKOUT_EMAIL=
GUEST_CHECKOUT_PASSWORD=
GUEST_CHECKOUT_ACCESS_TOKEN_SECRET=